
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif;
    font-weight: 500; */
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: 
        'header header'
        'sidebar main'
        'footer footer'
    ;
    gap: 20px;
    /* column-gap & row-gap */
    height: 100vh;
}

.header {
    grid-area: header;
    background: #f0a;
}

.sidebar {
    grid-area: sidebar;
    background: #0af;
}

.main {
    grid-area: main;
    background: #afa;
}

.footer {
    grid-area: footer;
    background: #faa;
}

.container {
    justify-items: stretch;
    align-items: start;
}

@media screen and (max-width: 768) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'hader'
            'main'
            'sidebar'
            'footer';
    }
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

li {
    list-style-type: none;
}