@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: 	#121212; 
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1A;
    /* color: black; */
    border-bottom: 1px solid #303030;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 25%;
    border-right: 1px solid #303030;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: thin;
    padding: 20px;
    text-align: center;
 
    font-family: "Bitcount Prop Single Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

.nav-link {
    width: 60%;
    padding: 20px;
}

.nav-link2 {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #A0A0A0;
    font-family: 'Panchang', sans-serif;
}
a:hover {
    color: #F7F7F7;
}

a:active {
    color: #F7F7F7;
}

.nav-link ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}

/* This part is about section */
#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    text-align: justify;
}
.introduction {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.profile-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.introduction p, h1 {
    color:#F7F7F7;
    font-family: 'Panchang', sans-serif; 
}

.profile-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-btn, .form-btn {
    border-radius: 10px;
    border: 1px solid #303030;
    background-color: #1A1A1A;
    color: #A0A0A0;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 40px;
}

.collab-btn {
    display: flex;
    justify-content: center;
}


/* Skill */
.skill-head {
    padding:50px 30px 20px 40px;
    /* top right button left */
}
.skill-list {
    color: #F7F7F7;
    font-family: 'Panchang', sans-serif;
    font-size: medium;
    padding: 60px;
}

.skill-list ul ol {
    margin-left: 30px;
    list-style-type: decimal;
}

/* Time table section */
.time-table {
    max-width: 50%;
    padding: 50px;
}
.time-table h1 {
    font-size: small;
}
table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid #303030;
    color: #F7F7F7;
    padding: 20px;
}

thead th {
    background-color: #121212;
}
tr:nth-child(odd) {
    background-color: #1A1A1A;
}

/* Contact */

#contact {
    padding: 50px;
    color: #F7F7F7;
}

.contact-form {
    padding-bottom: 20px;
}

.form-input {
    width: 400px;
    height: 50px;
    text-align: center;
}

textarea {
    padding: 20px;
    width: 30%;
    height: 100px;
    color: #F7F7F7;
    background-color: #121212;
    border: 1px solid #303030;
}

fieldset {
    border: 1px solid #303030;
    padding: 20px;
    width: 50%;
}

form {
    display: flex;
    justify-content: space-around;
}